.mdedit {

&, 
& > div {
	min-height: 16px;
	font-size: 16px;
}

.h1 { opacity: 0.6; font-size: 32px; font-weight: bold; }
.h2 { opacity: 0.6; font-size: 24px; }
.h3 { opacity: 0.6; font-size: 18px; font-style: italic; }
.h4 { opacity: 0.6; font-size: 16px; font-style: italic; }
.h5 { opacity: 0.6; font-size: 14px; font-style: italic; }
.h6 { opacity: 0.6; font-size: 12px; font-style: italic; }

.code,
.italic,
.bold,
.underline
{
	display: inline;
}

.code 		{ font-family: 		monospace; }
.italic 	{ font-style: 		italic; }
.bold 		{ font-weight: 		bold; }
.underline 	{ text-decoration: 	underline; }

.sep {
	position: relative;
	line-height: 16px;
	color: #666666;
}
.sep:after {
	content: '';
	position: absolute;
	top: 50%;
	bottom: 50%;
	left:0;
	right:0;

	border-top: 2px solid #666666;
}

@for $i from 1 through 6 {
	.ol[depth="#{$i}"],
	.ul[depth="#{$i}"] {
		padding-left: (0.5 + ($i - 1)) * 1em;
	}	
}

.codeBlock {
	background-color: #EEEEEE;
	font-family: monospace;

	*:not(.codeBlock) + & {
		padding-top: 0.5em;
	}

	& + *:not(.codeBlock) + & {
		padding-bottom: 0.5em;
	}

	padding-bottom: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}
*:not(.codeBlock) + .codeBlock,
.codeBlock:first-child { padding-top: 8px; }
.codeBlock + .codeBlock { margin-top: -16px; }

.linkdelim {
	display: inline-block;
	font-weight: bold;
}

.linkhref {
	display: inline-block;
	color: #66AAAA;
	text-decoration: underline;
}

.linktext {
	display:inline-block;
	color: rgba(0,0,0,0.8);
}


$embed-height: 128px; 
.embed {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	min-height: $embed-height;
	padding: 8px;
}

.embed img {
	height: $embed-height - 16px;
	margin: 4px;
}

}